# Reloj de 25MHz
LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

# Salida de datos hacia la matriz WS2812 (Pin F3)
LOCATE COMP "led_out" SITE "F3";
IOBUF PORT "led_out" IO_TYPE=LVCMOS33;

# Entradas de los botones (Conector J1)
LOCATE COMP "btn_up" SITE "D4";
LOCATE COMP "btn_down" SITE "D3";
LOCATE COMP "btn_left" SITE "C4";
LOCATE COMP "btn_right" SITE "E3";
LOCATE COMP "btn_sel" SITE "E4";

# Configurar pull-ups internos para los botones
IOBUF PORT "btn_up" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn_down" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn_left" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn_right" IO_TYPE=LVCMOS33 PULLMODE=UP;
IOBUF PORT "btn_sel" IO_TYPE=LVCMOS33 PULLMODE=UP;
